<ion-card class="sizeCard" color="success" *ngFor="let t of getAdverts()" (click)="sayToParent(t.id)">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none" color="success">
          <ion-avatar slot="start" class="card ion-margin-top">
            <img class="avatar" [src]="t.photo ?? '../../assets/img/head-659651_960_720.png'" alt="">
          </ion-avatar>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <h1>{{t.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-rate [rate]="t.rateAvg"></app-rate>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="7">
        <ion-item lines="none" color="success" class="stars">
          <h1 class="ion-text-center">{{t.nameUser.nombre}} <br> {{t.nameUser.apellidos}}</h1>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item lines="none" color="success">
          <ion-icon slot="start" class="location-icon" name="location" color="primary"></ion-icon> <p class="location"> {{t.location}} </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>