<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="secondary">
    </ion-back-button >
    <div class="ion-text-center">
      <img color="secondary" class="imagen" (click)="goToHome()" src="../../../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center"><u>Pagos</u></h1>
  <h2 class="ion-margin-start">Agregar forma de pago</h2>
  <p class="ion-text-left ion-margin-start">Introduce una nueva forma de pago</p>

  <h3 class="ion-margin-start">Tipo de tarjeta(Ejemplo: Mastercad)</h3>
  <ion-input type="text" class="numbertarjet ion-margin-start ion-text-center" [(ngModel)]="pay.tipe"></ion-input>
  <br>
  <h3 class="ion-margin-start">Número de la tarjeta</h3>
  <ion-input type="number" class="numbertarjet ion-margin-start ion-text-center" [(ngModel)]="pay.number"></ion-input>
  <br>
  <h3 class="ion-text-left ion-margin-start">Nombre del titular de la tarjeta</h3>
  <p class="ion-text-left ion-margin">Introudce el nombre tal y como aparece en la tarjeta</p>
  <ion-input type="string" class="numbertarjet ion-margin-start ion-text-center" [(ngModel)]="pay.propiety"></ion-input>
  <br>
  <h3 class="ion-text-left ion-margin-start">Fecha de caducidad</h3>
  <ion-input type="month" class="numbertarjet ion-margin-start ion-text-center" [(ngModel)]="pay.date"></ion-input> 
  <br>
  <br>
  <br>
  <h3 class="ion-text-left ion-margin-start">Código de seguridad(CVC)(CVC/CVV/CID)</h3>
  <ion-input type="number" class="date ion-margin-start ion-text-center" placeholder="123" max="3" [(ngModel)]="pay.security"></ion-input> 
  <br>
  <br>
  <p class="ion-margin ion-text-justify">Cuando añadas tarjetas o utilices el servicio Ciuda a mi mascota Pay, se podría enviar información sobre tu tarjeta, dispositivo, cuenta o ubicación a los emisores de tu tarjeta, con el fin de registrarla y prevenir posibles fraudes</p>
  <br>
  <br>
  <ion-button (click)="saveFormPay()" expand="block" fill="clear" shape="round">
    Guardar forma de pago
  </ion-button>
  <ion-button (click)="goToPolitic()" fill="clear" class="ion-margin-top" size="small" color="secondary">
    <u>Politica de privacidad de Cuida a mi mascota</u>
  </ion-button>
</ion-content>
