.imagen{
    width: 50px;
    height: 40px;
    margin-left: -40px;
}
.ion-button{
    width: 58px;
    height: 58px;
    margin: -10px;
}
h1{
    font-family: 'Calistoga';
}
u{
    text-decoration: none;
    border-bottom: 3px solid var(--ion-color-primary);
}
p{
    text-align: justify;
    margin: 30px;
}
::-webkit-scrollbar {display: none;}