<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="goToHome()" fill="clear" slot="start">
      <ion-icon name="arrow-back-outline" color="secondary"></ion-icon>
    </ion-button>
    <div class="ion-text-center">
      <img color="secondary" class="imagen" (click)="goToHome()" src="../../../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center" fullscreen>
  <ion-radio-group allow-empty-selection value="anchovies">
      <ion-list>
        <ion-item>English
          <ion-radio slot="end" color="primary" value="English"></ion-radio>
        </ion-item>
        <ion-item>Afrikaans
          <ion-radio slot="end" value="Afrikaans"></ion-radio>
        </ion-item>
        <ion-item>Bahasa Indonesia
          <ion-radio slot="end" value="Bahasa Indonesia"></ion-radio>
        </ion-item>
        <ion-item>Bahsa Melayu
          <ion-radio slot="end" value="Bahsa Melayu"></ion-radio>
        </ion-item>
        <ion-item>Danks
          <ion-radio slot="end" value="EngDankslish"></ion-radio>
        </ion-item>
        <ion-item>Dautsch
          <ion-radio slot="end" value="Dautsch"></ion-radio>
        </ion-item>
        <ion-item>English (UK)
          <ion-radio slot="end" value="English (UK)"></ion-radio>
        </ion-item>
        <ion-item>Español
          <ion-radio slot="end" value="Español"></ion-radio>
        </ion-item>
        <ion-item>Español (España)
          <ion-radio slot="end" value="Español (España)"></ion-radio>
        </ion-item>
        <ion-item>Filipino
          <ion-radio slot="end" value="Filipino"></ion-radio>
        </ion-item>
        <ion-item>Chinise
          <ion-radio slot="end" value="Chinise"></ion-radio>
        </ion-item>
        <ion-item>Korean
          <ion-radio slot="end" value="Korean"></ion-radio>
        </ion-item>
        <ion-item>Français (Canadá)
          <ion-radio slot="end" value="Français (Canadá)"></ion-radio>
        </ion-item>
        <ion-item>Français (Francia)
          <ion-radio slot="end" value="Français (Francia)"></ion-radio>
        </ion-item>
        <ion-item>Italian
          <ion-radio slot="end" value="Italian"></ion-radio>
        </ion-item>
        <ion-item>Neferlands
          <ion-radio slot="end" value="Neferlands"></ion-radio>
        </ion-item>
        <ion-item>Portugûes (Portugal)
          <ion-radio slot="end" value="Portugûes (Portugal)"></ion-radio>
        </ion-item>
        <ion-spinner name="crescent" class="ion-margin-top"></ion-spinner>
      </ion-list>
  </ion-radio-group>
</ion-content>

