.imagen{
    width: 50px;
    height: 40px;
    margin-left: -40px;
}
.ion-button{
    width: 58px;
    height: 58px;
    margin: -10px;
}
h1{
    font-family: 'Calistoga';
}
u{
    text-decoration: none;
    border-bottom: 3px solid var(--ion-color-primary);
}
p{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}
.ajustes{
    font-size: 18px;
    font-weight: bold;
}
.ajustes2{
    font-size: 14px;
    margin-left: 20px;
}
.ArrowSetting{
    font-size: 20px;
    margin-right: 0;
}
::-webkit-scrollbar {display: none;}
.p{
    font-size: 14px;
    margin-left: 40px;
    margin-right: 80px;
}
ion-checkbox{
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}
