<ion-header>
  <ion-toolbar color="primary">
    <ion-button class="ion-button" (click)="goToHome()" fill="clear" slot="start">
      <ion-icon name="arrow-back-outline" color="secondary"></ion-icon>
    </ion-button>
    <div class="ion-text-center">
      <img color="secondary" class="imagen" (click)="goToHome()" src="../../../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h1><u>Politica de privacidad</u></h1><br>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus expedita nulla quibusdam magni necessitatibus eligendi placeat delectus, assumenda provident architecto dicta, molestias quaerat error. Deserunt corrupti rem iste corporis porro?
    <br><br>  
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi esse ex veniam distinctio dolor praesentium sint, natus eum, eius illum nemo repellat aliquam laudantium iste dolorem autem facere ipsum reiciendis?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos fugiat voluptatum facilis rerum voluptates nostrum perferendis iste a voluptatem veniam ea, obcaecati corrupti voluptas officia explicabo sed dolore et incidunt!
    <br><br>  
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi esse ex veniam distinctio dolor praesentium sint, natus eum, eius illum nemo repellat aliquam laudantium iste dolorem autem facere ipsum reiciendis?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos fugiat voluptatum facilis rerum voluptates nostrum perferendis iste a voluptatem veniam ea, obcaecati corrupti voluptas officia explicabo sed dolore et incidunt!

  </p>
</ion-content>