<ion-header>
  <ion-toolbar color="primary">
    <ion-button class="ion-button" (click)="goToHome()" fill="clear" slot="start">
      <ion-icon name="arrow-back-outline" color="secondary"></ion-icon>
    </ion-button>
    <div class="ion-text-center">
      <img color="secondary" class="imagen" (click)="goToHome()"
        src="../../../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="ion-text-center title"><u>Perfil Mascota</u></h1>
  <ion-slides>
    <ion-slide class="ion-text-left" *ngFor="let p of pets">
      <div class="ion-text-center foto">
        <img *ngIf="!pet.edit" [src]="pet.photo ?? 'https://png.pngtree.com/png-vector/20190623/ourlarge/pngtree-accountavataruser-blue-dotted-line-line-icon-png-image_1491314.jpg'">
        <img (click)="openCamera()"  *ngIf="pet.edit"
          [src]="pet.photo ??  'https://png.pngtree.com/png-vector/20190623/ourlarge/pngtree-accountavataruser-blue-dotted-line-line-icon-png-image_1491314.jpg'">
      </div>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="8"></ion-col>
          <ion-col size="4" class="btn">
            <div class="ion-text-center ion-margin">
              <ion-button class="btn" *ngIf="!p.edit" (click)="edit()" color="secondary" fill="clear" shape="round">
                Editar
              </ion-button>
              <ion-button class="btn" *ngIf="p.edit" (click)="save()" color="secondary">
                Listo!
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Nombre:</b></ion-col>
          <ion-col size="6" class="ion-col">
            <ion-input class="info" *ngIf="!p.edit" readonly [value]="p.nombre"></ion-input>
            <ion-input class="info" *ngIf="p.edit" [(ngModel)]="p.nombre" [value]="p.nombre"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Edad:</b></ion-col>
          <ion-col size="6" class="ion-col">
            <ion-input class="info" *ngIf="!p.edit" readonly [value]="edad()"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Sexo:</b></ion-col>
          <ion-col size="6" class="ion-col"> {{p.sexo}} </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Tipo:</b></ion-col>
          <ion-col size="6" class="ion-col"> {{p.tipo}} </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Raza:</b></ion-col>
          <ion-col size="6" class="ion-col"> {{p.raza}} </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Enfermedad:</b></ion-col>
          <ion-col size="6" *ngIf="p.enfermedad"  class="ion-col"><ion-input class="info" readonly value="Si"></ion-input></ion-col>
          <ion-col size="6" *ngIf="!p.enfermedad"  class="ion-col"><ion-input class="info" readonly value="No"></ion-input></ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Vacunas:</b></ion-col>
            <ion-col size="6" *ngIf="p.vacunas"  class="ion-col"><ion-input class="info" readonly value="Si"></ion-input></ion-col>
            <ion-col size="6" *ngIf="!p.vacunas"  class="ion-col"><ion-input class="info" readonly value="No"></ion-input></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="5"><b>Chip:</b></ion-col>
            <ion-col size="6" *ngIf="p.chip"  class="ion-col"><ion-input class="info" readonly value="Si"></ion-input></ion-col>
            <ion-col size="6" *ngIf="!p.chip"  class="ion-col"><ion-input class="info" readonly value="No"></ion-input></ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="6"><b>Cuidados:</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="11" class="ion-text-left cuidados">
            <ion-textarea *ngIf="!p.edit" readonly [value]="p.cuidados"></ion-textarea>
            <ion-textarea *ngIf="p.edit" [(ngModel)]="p.cuidados" [value]="p.cuidados"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="ion-margin-start">
        <ion-row>
          <ion-col size="6"><b>Descripción:</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="11" class="ion-text-left cuidados">
            <ion-textarea *ngIf="!p.edit" readonly [value]="p.descripcion"></ion-textarea>
            <ion-textarea *ngIf="p.edit" [(ngModel)]="p.descripcion" [value]="p.descripcion"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>