<div>
  <ion-item lines="none" *ngIf="!rate || rate == 0" class="stars">
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
  </ion-item>
  <ion-item lines="none" *ngIf="rate == 1" class="stars">
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
  </ion-item>
  <ion-item lines="none" *ngIf="rate == 2" class="stars">
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
  </ion-item>
  <ion-item lines="none" *ngIf="rate == 3" class="stars">
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
  </ion-item>
  <ion-item lines="none" *ngIf="rate == 4" class="stars">
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline" color="primary" class="ion-no-margin"></ion-icon>
  </ion-item>
  <ion-item lines="none" *ngIf="rate == 5" class="stars">
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
    <ion-icon slot="end" size="large" name="star" color="primary" class="ion-no-margin"></ion-icon>
  </ion-item>
</div>
