.imagen{
    width: 50px;
    height: 40px;
}

ion-back-button{
    position: absolute;
    color: var(--ion-color-secondary);
}

.ion-button{
    width: 58px;
    height: 58px;
    margin: -10px;
}

.photo{
    height: 30vh;
    width: 100vw;
}

u{
    text-decoration: none;
    border-bottom: 3px solid var(--ion-color-primary);
}

.contact{
    color: var(--ion-color-primary);
}

.container{
    background-color: var(--ion-color-primary);
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 10px;
}

.description{
    background-color: #d9d9d97a;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}

.icon-comments{
    position: absolute;
    font-size: 40px;
    left: -60px;
}

.comments{
    position: absolute;
    margin-top: 50px;
    left: 60px;
}

div{
    ::part(native){
        background-color: white;
    }
}
.showContact{
    background-color: rgba(255, 255, 255, 0.707);
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align:center;
    z-index: 3;
}

.options{
    background-color: var(--ion-color-secondary);
    height: 25vh;
    width: 80vw;
    border-radius: 20px;
    margin: auto;
}

.title{
    color: var(--ion-color-primary);
    font-size: 40px;
    margin: 20px;
    margin-bottom: 80px;
}

.icon{
    color: var(--ion-color-primary);
    font-size: 60px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: var(--ion-color-tertiary);
}