<ion-content color="primary">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1" (click)="goBack()">
        <ion-button fill="clear"  size="large">
          <ion-icon slot="start" name="arrow-undo-sharp"  color="secondary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10"><h1 class="ion-text-center"><u>Registro</u></h1></ion-col>
    </ion-row>
  </ion-grid>
    <br>
    <h2 class="ion-margin-start">Nombre</h2>
    <ion-input type="text" class="ion-margin-start" [(ngModel)]="user.nombre"></ion-input>

    <h2 class="ion-margin-start">Apellidos</h2>
    <ion-input type="text" class="ion-margin-start" [(ngModel)]="user.apellidos"></ion-input>

    <h2 class="ion-margin-start">Fecha de nacimiento</h2>
    <ion-input readonly="true" button="true" id="open-date-input" placeholder="Haz clic aquí" class="ion-margin-start" [value]="user.fechaNacimiento">
      <ion-popover trigger="open-date-input" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime
            presentation="date"
            (ionChange)="user.fechaNacimiento = formatDate(popoverDatetime.value) " 
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-input>

    <h2 class="ion-margin-start">Sexo</h2>
    <ion-select class="ion-margin-start" [(ngModel)]="user.sexo">
      <ion-select-option value="Mujer" mode="ios">Mujer</ion-select-option>
      <ion-select-option value="Hombre" mode="ios">Hombre</ion-select-option>
      <ion-select-option value="Hombre" mode="ios">Otro</ion-select-option>
    </ion-select>

    <h2 class="ion-margin-start">Teléfono</h2>
    <ion-input type="number" class="ion-margin-start" [(ngModel)]="user.telefono" placeholder="Añadir prefijo sin separación. Ejem: 34654455545"></ion-input>

    <h2 class="ion-margin-start" *ngIf="!currentUser">Email</h2>
    <ion-input type="email" *ngIf="!currentUser" class="ion-margin-start" [(ngModel)]="user.email"></ion-input>

    <h2 class="ion-margin-start" *ngIf="!currentUser">Contraseña</h2>
    <ion-input type="password" class="ion-margin-start" *ngIf="!currentUser" [(ngModel)]="user.pass"></ion-input>
    
    <br>

    <ion-button fill="clear" (click)="openCamera()" size="large"
      style="font-family: calistoga; color: white; font-size: 24px;">
      <ion-icon slot="end" name="camera"></ion-icon> <b> Insertar foto: </b>
    </ion-button>

    <div class="ion-margin-start">
        <img class="foto" [src]="user.photo" alt="">
    </div>

    <div class="ion-text-center">
      <ion-button (click)="register()" size="large" color="secondary" class="oto ion-margin-bottom">
        <h2 class="cj">LISTO!</h2>
      </ion-button>
    </div>
</ion-content>