.imagen{
    width: 50px;
    height: 40px;
    margin-left: -40px;
}
.ion-button{
    width: 58px;
    height: 58px;
    margin: -10px;
}
u{
    text-decoration: none;
    border-bottom: 3px solid var(--ion-color-primary);
}
ion-col{
    margin-right: -40px;
}
.ion-col{
    text-align: center;
    background-color: var(--ion-color-tertiary);
    border-radius: 20px;
}
img{
    width: 150px;
    margin: 10px;
}

a{
    font-weight: bold;
}
.ss{
    margin-top: 15px;
}

.info{
    height: 10px;
    margin-top: 5px;
}