<ion-menu side="start"  menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar  color="secondary">
      <div class="ion-text-center">
        <img color="secondary" class="imagen" src="../../../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content color="tertiary">
    <ion-item color="tertiary" lines="none">
      <ion-icon name="options" slot="start" color="primary" class="ion-margin-start"></ion-icon>
      <ion-menu-toggle>
        <ion-button (click)="goPrivacity()" fill="clear" color="secondary" size="large"  class="ion-no-padding">
          Privacidad
        </ion-button>
      </ion-menu-toggle>
    </ion-item>

    <ion-item color="tertiary" class="Logout" lines="none">
      <ion-icon name="log-out-outline" slot="start" color="primary" class="ion-margin-start"></ion-icon>    
      <ion-menu-toggle>
        <ion-button (click)="LogOut()" fill="clear" color="secondary" size="large"  class="ion-no-padding">
          Cerrar Sesión
        </ion-button>
      </ion-menu-toggle>
    </ion-item>
  </ion-content>
</ion-menu>


