<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button id="menu" slot="start" menu="first"></ion-menu-button>
    <div class="ion-text-center">
      <img color="secondary" class="imagen"
        src="../../../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
    </div>
    <!-- <ion-icon class="openApp" name="calendar-number-outline" slot="end" (click)="openApp()"></ion-icon> Proximamente -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-button id="perfiles" (click)="goToProfile()" *ngIf="user.type == 'dueño'"  shape="round" fill="clear" color="warning"
      class="ion-margin-top ion-margin-bottom">
      <b>Perfil</b>
    </ion-button>

    <ion-button id="anuncio" (click)="goToProfile()"  *ngIf="user.type == 'cuidador'" shape="round" fill="clear" color="warning"
      class="ion-margin-top ion-margin-bottom">
      <b>Perfil</b>
    </ion-button>

    <ion-button id="perfiles" (click)="goToProfilePet()" *ngIf="user.type == 'dueño' " shape="round" fill="clear" color="warning"
      class="ion-margin-top ion-margin-bottom ion-margin-start">
      <b>Perfil <br> Mascota</b>
    </ion-button>
    
    <ion-button id="anuncio" (click)="goToAdvert()" shape="round" fill="clear" color="warning"
      class="ion-margin-top ion-margin-bottom">
      <b>¡Pon tu anuncio! <br>
        <ion-icon slot="start" size="large" name="add-circle"></ion-icon>
      </b>
    </ion-button>
  </div>

  <h1 class="ion-margin-start">Publicaciones destacadas</h1>

  <ion-segment value="Recientes" color="primary" scrollable="true" mode="md" [(ngModel)]="segmentModel">
    <ion-segment-button value="Recientes">
      <ion-label>Recientes</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Destacados">
      <ion-label>Destacados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-adverts-post (clickAdvert)="goToInformation($event)" *ngIf="segmentModel == 'Recientes'"
    [adverts]="advertRecent"></app-adverts-post>
  <app-adverts-post (clickAdvert)="goToInformation($event)" *ngIf="segmentModel == 'Destacados'"
    [adverts]="advertFilter"></app-adverts-post>

  <ion-button (click)="goToFeature()" fill="clear" class="more">
    Ver más...
  </ion-button>

  <br>
  <br>
  <h1 class="ion-margin-start ion-margin-top">¡Ellos te ayudaran!</h1>

  <div>
    <ion-card class="advertPeopleNormal" color="success" *ngFor="let t of advertOther">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none" color="success">
              <ion-avatar slot="start" class="ion-margin-top photo">
                <img class="photo" [src]="t.photo ?? '../../assets/img/head-659651_960_720.png'" alt="">
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <h1>{{t.title}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" color="success">
              <ion-icon slot="start" class="location-icon" name="location" color="primary"></ion-icon>
              <p class="location"> {{t.location}} </p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-button (click)="goToFeature()" fill="clear" class="more">
      Ver más...
    </ion-button>
  </div>
</ion-content>